html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #3e3e3e;
}

#Header {
    background-color: #3e3e3e;
    color: #FFF;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    top: 0;
    z-index: 1000;
    width: 80vw;
    padding: 0 10vw;
}

#Header a {
    color: #FFF;
    text-decoration: none;
}

#Header a:hover {
    text-decoration: underline;
}

#Header .logo-link {
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

#Header .logo-link:hover {
    text-decoration: none;
}

.contactingInfo {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 14px;
    align-items: center;
    margin: 0 auto;
}

.information {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

#mobile-menu {
    background-color: rgb(50, 50, 50, 80%);
    position: fixed;
}

.mobile-menu {
    margin-top: 50px;
}

.mobile-menu li a {
    color: #FFF;
}

#Navigation ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    left: 0;
    gap: 30px;
    list-style-type: none;
    padding-left: 0;
    text-decoration: none;
}

#Navigation ul li a:link, #Navigation ul li a:visited {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 70%;
}

.mm-toggle-wrap {
    position: relative;
    display: flex;
    top: 0 !important;
    line-height: 1px;
    background-color: transparent;
    max-height: 100%;
    height: 50px;
}

.mm-toggle {
    max-height: 100%;
}

.mm-toggle img {
    max-height: 100%;
}

.xTendContentLayoutText {
    padding: 50px 20vw;
    background-color: #3e3e3e;
    color: white;
    max-width: 100%;
    overflow: auto;
}

.xTendContentLayoutBild {
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
}

#Brand {
    display: none;
}

#Inhalt {
    margin-top: 50px;
}

iframe {
    max-width: 100%;
}

a {
    color: #FFF;
}

@media only screen and (max-width: 1100px) {
    #Header {
        width: 90vw;
        padding: 0 5vw;
    }
    
    .xTendContentLayoutText {
        padding: 50px 10vw;
    }
    
    .xTendContentLayoutBild {
        min-height: 300px;
    }
}

@media only screen and (max-width: 675px) {
    #Header {
        width: 96vw;
        padding: 0 2vw;
    }
    
    .information .contactingInfo {
        display: none;
    }
    
    #Navigation ul {
        display: none;
    }
    
    .xTendContentLayoutText {
        padding: 30px 5vw;
        /*font-size: 16px;*/
    }
    
    .xTendContentLayoutBild {}
}